@import "tailwindcss";

/* Global color variables */
:root {
  /* Background colors */
  --bg1: #ffffff;
  --bg2: #1A1524;
  --bg3: #BA968B;
  --bg4: #FBFBFB;
  --bg5: #4D0011;
  --bg6: #FF0038;

  /* Paragraph colors */
  --paragraph-1: #000000;
  --paragraph-2: #ffffff;

  /* Accent colors */
  --accent-1: #ba8c93;
  --accent-2: #f2f0f1;
}

a {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

body {
  background: var(--bg1);
  color: var(--paragraph-1);
  font-family: "Arimo", sans-serif;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.75rem, 12vw + 1rem, 9rem);
  line-height: clamp(2rem, 10vw + 1rem, 7.5rem);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  /* line-height: 120px; */
  text-transform: uppercase;
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  /* text-transform: uppercase; */
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

/* H4 - Aboreto */
h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  /* line-height: 110px; */
  font-weight: 400;
}

/* H5 - Aboreto */
h5 {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  /* line-height: 110px; */
  font-weight: 600;
}

h6 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  font-weight: 500;
}

html {
  scroll-snap-type: y mandatory;
}

p {
  font-family: "EB Garamond", serif;
  font-size: clamp(18px, 2vw, 24px);
}

/* Stylised Buttons */
.button1 {
  background-color: var(--bg5);
  padding: 25px;
  font-family: "Marcellus", serif;
  font-size: 16px;
  color: #000000;
  width: 100%;
  border-radius: 500px;
}

.button1:hover {
  background-color: var(--bg2);
  color: white;
  cursor: pointer;
}
